.contact-us-section {
	overflow: hidden;
	.generic-tabs {
		@include media-breakpoint-down(xl) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
		.nav-tabs {
			li {
				@include media-breakpoint-down(xl) {
					margin-right: rem-calc(12px);
				}
				a {
					display: flex;
					align-items: center;
					&::before {
						content: "";
						background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0C3.14067 0 0 3.0495 0 6.79875C0 12.126 6.342 17.6265 6.61189 17.8575C6.72311 17.9527 6.86156 18 7 18C7.13844 18 7.27689 17.9528 7.38811 17.8582C7.658 17.6265 14 12.126 14 6.79875C14 3.0495 10.8593 0 7 0ZM7 10.5C4.85567 10.5 3.11111 8.81775 3.11111 6.75C3.11111 4.68225 4.85567 3 7 3C9.14433 3 10.8889 4.68225 10.8889 6.75C10.8889 8.81775 9.14433 10.5 7 10.5Z' fill='%23000033'/%3E%3C/svg%3E%0A");
						background-repeat: no-repeat;
						background-size: 100%;
						width: rem-calc(14px);
						height: rem-calc(18px);
						margin-right: rem-calc(15px);
					}
				}
				&.active {
					a {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0C3.14067 0 0 3.0495 0 6.79875C0 12.126 6.342 17.6265 6.61189 17.8575C6.72311 17.9527 6.86156 18 7 18C7.13844 18 7.27689 17.9528 7.38811 17.8582C7.658 17.6265 14 12.126 14 6.79875C14 3.0495 10.8593 0 7 0ZM7 10.5C4.85567 10.5 3.11111 8.81775 3.11111 6.75C3.11111 4.68225 4.85567 3 7 3C9.14433 3 10.8889 4.68225 10.8889 6.75C10.8889 8.81775 9.14433 10.5 7 10.5Z' fill='white'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
	}
	.address-wrapper {
		font-weight: 500;
		p,a {
			line-height: 1.8;
		}
	}
	.mapboxgl-map {
		width: 100%;
		height: rem-calc(315px);
	}
}