.statics-numbers {
  .numbers-row {
    .numbers-wrap {
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: column;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
        width: rem-calc(460px);
      }
      .numbers {
        position: relative;
        margin-bottom: rem-calc(-30px);
        .line-number {
          font-size: rem-calc(100px);
          -webkit-text-stroke: 1px rgba($white, 0.2);
          -webkit-text-fill-color: $midnight;
        }
        .counts {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .content {
        text-transform: uppercase;
        max-width: rem-calc(280px);
        text-align: center;
        @include media-breakpoint-up(lg) {
          position: absolute;
          left: rem-calc(130px);
          top: 50%;
          transform: translate(0, -30%);
          text-align: left;
        }
      }
    }
    &:last-of-type {
      .numbers-wrap {
        .content {
          @include media-breakpoint-up(lg) {
            left: rem-calc(260px);
          }
        }
        .counts {
          @include media-breakpoint-up(lg) {
            left: rem-calc(130px);
          }
        }
      }
    }
  }
}
