.generic-text-section {
	.with-bg-overlay
	.top-desc {
		p {
			@include media-breakpoint-up(lg) {
				font-size: rem-calc(22px);
			}
			padding: 0;
		}
	}
	&.with-accordion {
		.heading-animation {
			position: relative;
		}
		.generic-text-vector {
			position: absolute;
			top: rem-calc(80px);
			width: 100%;
			svg {
				height: rem-calc(600px) !important;
			}
		}
		.accordion-wrap {
			position: relative;
			z-index: 1;
			padding-right:  rem-calc(30px);
			@include media-breakpoint-up(lg) {
				height: rem-calc(490px);
				overflow-y: scroll;
				padding-left: rem-calc(100px);
				margin-top: rem-calc(-50px);
			}
			@include media-breakpoint-up(xl) {
				padding-left: rem-calc(220px);
			}
			.cursor-pointer {
				cursor: pointer;
			}

			.accordion-panel {
				margin-bottom: rem-calc(30px);
				overflow: hidden;
				border: 0 none;
				.accordion__header {
					background: transparent;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: space-between;
					@extend .cursor-pointer;
					&:hover {
						color: #fff;
						background: transparent;
					}
					h5 {
						margin: 0;
						max-width: calc(100% - 32px);
					}
					.accordion__button {
						width: rem-calc(20px);
						height: rem-calc(20px);
						display: flex;
						align-items: center;
						justify-content: center;
						border: 0 none;
						transition: all ease 0.3s;
						@include media-breakpoint-up(md) {
							width: rem-calc(31px);
							height: rem-calc(31px)
						}
						&.fa-plus {
							background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15H31M16 31V0' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
							background-size: 100%;
						}
						&.fa-minus {
							height: 2px;
							background-image: url("data:image/svg+xml,%3Csvg width='31' height='2' viewBox='0 0 31 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1H31' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
							background-size: 100%;
						}
					}
				}
				.accordion__body {
					border-top: 0 none;
					padding: 20px;
					display: none;
					p {
						padding: 0;
					}
					p:last-child {
						margin: 0;
					}
				}
			}
		}
	}
	p {
		font-size: rem-calc(16px);
		margin-bottom: rem-calc(30px);
		@include media-breakpoint-up(md) {
			font-size: rem-calc(18px);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem-calc(22px);
		}
		&.text-md {
			@include media-breakpoint-up(md) {
				font-size: rem-calc(26px);
			}
		}
		&.text-sm {
			font-size: rem-calc(16px);
		}
	}
	.generic-text-vector {
		&__numbers {
			position: relative;
			bottom: unset;
			left: unset;
			@include media-breakpoint-up(xl) {
				position: absolute;
				bottom: 8%;
			}
			@include media-breakpoint-up(xxl) {
				bottom: 12%;
			}
		}
		&.top-margin-100 {
			@include media-breakpoint-up(xl) {
			  margin-top: rem-calc(-100px);
			}
		}
		&.top-margin-150 {
			@include media-breakpoint-up(xl) {
			  margin-top: rem-calc(-150px);
			}
		}
		&.top-margin-200 {
			@include media-breakpoint-up(xl) {
			  margin-top: rem-calc(-200px);
			}
		}
		.border-animation-4 {
			svg {
				@include media-breakpoint-up(lg) {
				  height: rem-calc(800px) !important;
				}
			}
		}
	}
	&.with-mask-image {
		.mask-img {
			mask-image: url("images/svg/mask-2.svg");
			mask-mode: alpha;
			mask-repeat: no-repeat;
			mask-size: 100%;
      mask-position-y: bottom;
		}
		.img-animation-wrap {
			// margin-top: rem-calc(-210px);
			// @include media-breakpoint-up(xl) {
			// 	margin-top: rem-calc(-230px);
			// }
			// @include media-breakpoint-up(xxl) {
			// 	margin-top: rem-calc(-280px);
			// }
			@include media-breakpoint-down(lg) {
				position: relative;
				right: -20%;
			}
			img {
				height: 100%;
				width: 100%;
			}
		}
		.border-animation-wrap {
			// @include media-breakpoint-up(lg) {
			//   margin-bottom: rem-calc(-300px);
			// }
			svg {
				@include media-breakpoint-up(md) {
				  // height: rem-calc(326px) !important;
				}
			}
			@include media-breakpoint-down(lg) {
				position: relative;
				left: -80%;
			}
		}
		.bottom-content-inner {
			@include media-breakpoint-down(lg) {
			  margin-top: rem-calc(-300px);
				padding-left: 20%;
			}
			@include media-breakpoint-down(md) {
			  margin-top: rem-calc(-130px);
				padding-left: rem-calc(15px);
			}
		}
	}
	&.with-bg-overlay {
		.banner-box {
     &::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
		 }
		}
	}
	.bg-gradient-dark {
		a {
			font-weight: bold;
			color: $sustainable-green;
			text-decoration: none;
		}
	}
	a {
		display: block;
	}
}
.quote-section {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 981' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-5741 977.778H-5743.5V980.278H-5741V977.778ZM1347 486.778L1349.42 487.41L1350.24 484.278H1347V486.778ZM-5741 486.778V484.278H-5743.5V486.778H-5741ZM-5741 980.278H933.035V975.278H-5741V980.278ZM933.035 980.278C967.561 980.278 1022.27 979.597 1078.08 956.464C1133.98 933.291 1190.8 887.662 1229.7 798.124L1225.12 796.131C1186.74 884.465 1130.88 929.161 1076.16 951.845C1021.34 974.57 967.504 975.278 933.035 975.278V980.278ZM1229.7 798.124C1306.99 620.22 1341.7 516.938 1349.42 487.41L1344.58 486.146C1336.97 515.292 1302.38 618.291 1225.12 796.131L1229.7 798.124ZM1347 484.278H-5741V489.278H1347V484.278ZM-5743.5 486.778V977.778H-5738.5V486.778H-5743.5Z' fill='white'/%3E%3Cpath d='M8435 2.77893L8437.5 2.77893L8437.5 0.278931L8435 0.278931L8435 2.77893ZM1347 486.778L1344.58 486.137L1343.75 489.278L1347 489.278L1347 486.778ZM8435 486.778L8435 489.278L8437.5 489.278L8437.5 486.778L8435 486.778ZM8435 0.278931L1760.96 0.278347L1760.96 5.27835L8435 5.27893L8435 0.278931ZM1760.96 0.278347C1726.44 0.278344 1671.73 0.949482 1615.94 23.7509C1560.04 46.5917 1503.21 91.5702 1464.3 179.845L1468.88 181.862C1507.25 94.8014 1563.1 50.7423 1617.83 28.3793C1672.65 5.97701 1726.49 5.27834 1760.96 5.27835L1760.96 0.278347ZM1464.3 179.845C1387.01 355.213 1352.3 457.026 1344.58 486.137L1349.42 487.418C1357.03 458.693 1391.62 357.166 1468.88 181.862L1464.3 179.845ZM1347 489.278L8435 489.278L8435 484.278L1347 484.278L1347 489.278ZM8437.5 486.778L8437.5 2.77893L8432.5 2.77893L8432.5 486.778L8437.5 486.778Z' fill='white'/%3E%3C/svg%3E%0A");
		background-size: cover;

	}
	.text-section {
		h3 {
			@include media-breakpoint-down(xl) {
				font-size: rem-calc(30px);
			}
		}
		p {
			@include media-breakpoint-down(xl) {
				font-size: rem-calc(16px) !important;
			}
		}
	}
	.generic-text-vector {
		@include media-breakpoint-down(md) {
			position: static !important;
			transform: none !important;
			margin-top: rem-calc(-50px);
	 }
		.border-animation-4 {
			svg {
				@include media-breakpoint-up(md) {
					margin-top: rem-calc(-40px);
					height: rem-calc(450px) !important;
				}
				@include media-breakpoint-up(xl) {
					height: rem-calc(800px) !important;
				}
			}
		}
	}
}
.page-who-we-are {
	.logo-wrap {
		@include media-breakpoint-down(md) {
			position: absolute;
			top: rem-calc(-70px);
			left: 0;
			padding-top: 0 !important;
			.icon-64 {
				height: rem-calc(35px);
			}
		}
	}
}
