.bottom-line {
	display: block;
	width: rem-calc(80px);
	height: rem-calc(70px);
	position: relative;
	&::after {
		content: "";
		height: rem-calc(1px);
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: $milano-red;
	}
	&.line-centered {
		margin: 0 auto;
	}
}