.homepage-hero {
  position: relative;
  height: 100vh;
  min-height: 640px;
  max-height: 700px;
  overflow: hidden;
  &__content {
    h1 {
      margin-bottom: rem-calc(20px);
    }
    p {
      font-size: rem-calc(24px);
      font-weight: 200;
      padding-right: rem-calc(51px);
      margin-bottom: rem-calc(30px);
    }
  }
}
