.homepage-hero {
  position: relative;
  height: 100vh;
  max-height: rem-calc(460px);
  @include media-breakpoint-up(md) {
    max-height: rem-calc(600px);
  }
  overflow: hidden;
  .hero-bg {
    img {
      top: rem-calc(-20px);
      height: 120%;
    }
  }
  &__content {
    h1 {
      margin-bottom: rem-calc(20px);
    }
    p {
      font-size: rem-calc(24px);
      font-weight: 200;
      padding-right: rem-calc(51px);
      margin-bottom: rem-calc(30px);
    }
  }
}

.hero-text-animation {
  > div {
    position: relative;
    margin: 0;
  }
  .split-parent {
    overflow: hidden;
  }
  .split-child {
    display: inline-block;
  }
}

.text-animation {
  > div {
    position: relative;
    margin: 0;
  }
  .split-parent {
    overflow: hidden;
  }
  .split-child {
    display: inline-block;
  }
  a {
    > div {
      margin-right: rem-calc(5px);
    }
  }
}

.inner-hero {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
    padding-top: rem-calc(20px);
    font-size: rem-calc(18px);
    line-height: 1.9;
  }
  .hero-logo {
    width: rem-calc(300px);
    margin: 0 auto;
  }
}
