.fluid-columns-with-icon-section {
	.top-desc {
		max-width: rem-calc(740px);
	}
	.text-col-wrapper {
		background: rgba($grey-md, 0.8);
		z-index: 1;
		position: relative;
		padding-top: rem-calc(38px);
		padding-right: rem-calc(32px);
		padding-bottom: rem-calc(38px);
		padding-left: rem-calc(32px);
		.text-col-row {
			.text-col {
				position: relative;
				.icon-and-title {
					.icon {
						height: rem-calc(50px);
						width: auto;
						img {
							width: 100%;
						}
					}
				}
				p {
					max-width: rem-calc(260px);
					@include media-breakpoint-up(md) {
						font-size: rem-calc(22px);
					}
				}
			}
	  }
  }
}