
@font-face {
	font-family: 'GT Super Display';
	src: url('fonts/face/GTSuperDisplay-Regular.eot');
	src: url('fonts/face/GTSuperDisplay-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/face/GTSuperDisplay-Regular.woff2') format('woff2'),
			url('fonts/face/GTSuperDisplay-Regular.woff') format('woff'),
			url('fonts/face/GTSuperDisplay-Regular.ttf') format('truetype'),
			url('fonts/face/GTSuperDisplay-Regular.svg#fonts/face/GTSuperDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GT Super Display';
	src: url('fonts/face/GTSuperDisplay-Medium.eot');
	src: url('fonts/face/GTSuperDisplay-Medium.eot?#iefix') format('embedded-opentype'),
			url('fonts/face/GTSuperDisplay-Medium.woff2') format('woff2'),
			url('fonts/face/GTSuperDisplay-Medium.woff') format('woff'),
			url('fonts/face/GTSuperDisplay-Medium.ttf') format('truetype'),
			url('fonts/face/GTSuperDisplay-Medium.svg#fonts/face/GTSuperDisplay-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wigrum';
	src: url('fonts/face/Wigrum-Regular.eot');
	src: url('fonts/face/Wigrum-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/face/Wigrum-Regular.woff2') format('woff2'),
			url('fonts/face/Wigrum-Regular.woff') format('woff'),
			url('fonts/face/Wigrum-Regular.ttf') format('truetype'),
			url('fonts/face/Wigrum-Regular.svg#fonts/face/Wigrum-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wigrum';
	src: url('fonts/face/Wigrum-Medium.eot');
	src: url('fonts/face/Wigrum-Medium.eot?#iefix') format('embedded-opentype'),
			url('fonts/face/Wigrum-Medium.woff2') format('woff2'),
			url('fonts/face/Wigrum-Medium.woff') format('woff'),
			url('fonts/face/Wigrum-Medium.ttf') format('truetype'),
			url('fonts/face/Wigrum-Medium.svg#fonts/face/Wigrum-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
