$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$i-mail-solid: "\e925";
$i-map-pin-solid: "\e912";
$i-phone-solid: "\e91c";
$i-phone: "\e90a";
$i-double-chat: "\e90c";
$i-badge: "\e90e";
$i-download: "\e90d";
$i-chat: "\e917";
$i-facebook: "\e91a";
$i-finance: "\e91b";
$i-linkedin: "\e91d";
$i-instagram: "\e91e";
$i-suitcase: "\e91f";
$i-governance: "\e920";
$i-chart: "\e921";
$i-bulb: "\e922";
$i-subscribe: "\e923";
$i-twitter: "\e924";
$i-arrow-down: "\e900";
$i-arrow-left: "\e901";
$i-arrow-right: "\e902";
$i-arrow-up: "\e903";
$i-check: "\e904";
$i-check-circle: "\e926";
$i-check-square: "\e905";
$i-chevron-down: "\e906";
$i-chevron-left: "\e907";
$i-chevron-right: "\e908";
$i-chevron-up: "\e909";
$i-circle: "\e927";
$i-disc: "\e928";
$i-external-link: "\e90b";
$i-map-pin: "\e90f";
$i-menu: "\e910";
$i-minus: "\e911";
$i-play: "\e913";
$i-play-circle: "\e914";
$i-plus: "\e915";
$i-search: "\e916";
$i-square: "\e929";
$i-x: "\e918";
$i-youtube: "\e919";

