@mixin stagger-animation( $animation, $child, $interval: 100 ) {
  $delay: $interval;
  visibility: visible;
  @include animation-duration( 1s );
  @include animation-fill-mode( both );
  @include animation-name( $animation );
  @for $i from 1 through $child {
    $delay: $delay + $interval;
    &:nth-child(#{$i}) {
      @include animation-delay( unquote($delay + 'ms') );
    }
  }
}

@mixin animate-underline-on-hover( $text-color: currentColor, $border-color: currentColor ) {
  /* If text is wrapped in two lines, it stops working so avoid using it for larger text */
  padding-bottom: rem-calc( 1px );
  position: relative;
  transition: .2s;
  &:after {
    background-color: $border-color;
    content: '';
    left: 0;
    right: 0;
    height: rem-calc( 1px );
    position: absolute;
    bottom: 0;
    @include scale( 0 );
    transition: .25s transform ease-out;
  }
  &:hover {
    color: $text-color;
    &:after {
      @include scale( 1 );
    }
  }
}

@mixin animate-line-on-hover( $text-color: currentColor, $border-color: currentColor ) {
  /* If text is wrapped in two lines, it stops working so avoid using it for larger text */
  padding-bottom: rem-calc( 1px );
  position: relative;
  transition: .2s;
  &:after {
    background-color: $border-color;
    content: '';
    left: 0;
    right: 0;
    height: rem-calc( 1px );
    position: absolute;
    bottom: 0;
    @include scaleX( 0 );
		@include transform-origin( 100%, 100% );
		transition: .3s transform;
  }
  &:hover {
    color: $text-color;
    &:after {
			@include scaleX( 1 );
			@include transform-origin( 0, 0 );
		}
  }
}