@mixin stagger-animation( $animation, $child, $interval: 100 ) {
  $delay: $interval;
  visibility: visible;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: $animation;
  @for $i from 1 through $child {
    $delay: $delay + $interval;
    &:nth-child(#{$i}) {
      animation-delay: unquote($delay + 'ms');
    }
  }
}

@mixin animate-underline-on-hover( $text-color: currentColor, $border-color: currentColor ) {
  /* If text is wrapped in two lines, it stops working so avoid using it for larger text */
  padding-bottom: rem-calc( 1px );
  position: relative;
  transition: .2s;
  &:after {
    background-color: $border-color;
    content: '';
    left: 0;
    right: 0;
    height: rem-calc( 1px );
    position: absolute;
    bottom: 0;
    transform: scale( 0 );
    transition: .25s transform ease-out;
  }
  &:hover, &:active {
    color: $text-color;
    &:after {
      transform: scale( 1 );
    }
  }
}

@mixin animate-line-on-hover( $text-color: currentColor, $border-color: currentColor ) {
  /* If text is wrapped in two lines, it stops working so avoid using it for larger text */
  padding-bottom: rem-calc( 1px );
  position: relative;
  transition: .2s;
  &:after {
    background-color: $border-color;
    content: '';
    left: 0;
    right: 0;
    height: rem-calc( 1px );
    position: absolute;
    bottom: 0;
    transform: scaleX( 0 );
		transform-origin: 100% 100%;
		transition: .3s transform;
  }
  &:hover, &:active {
    color: $text-color;
    &:after {
			transform: scaleX( 1 );
			transform-origin: 0 0;
		}
  }
}

@mixin animate-background-underline-on-hover( $text-color: currentColor, $background-start-color: currentColor, $background-end-color: currentColor ) {
  background-image: linear-gradient(to right, $background-start-color, $background-end-color);
  background-size: 0 rem-calc( 2px );
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: rem-calc( 2px );
  transition: background .2s ease-out;
  &:hover, &:active  {
    color: $text_color;
    background-size: 100% rem-calc( 2px );
  }
}