@mixin btn {
	font-size: rem-calc(14px);
	font-weight: 600;
	line-height: $btn-line-height;
	display: flex;
	width: fit-content;
	align-items: center;
	padding-top: rem-calc(10px);
	padding-right: rem-calc(32px);
	padding-bottom: rem-calc(10px);
	padding-left: rem-calc(32px);
	transition: 0.35s;
}

@mixin btn-input-clone($bg-color) {
	background-color: $bg-color;
	font-size: 1rem;
	line-height: $input-line-height;
	text-transform: uppercase;
	padding-top: $input-padding-y;
	padding-bottom: $input-padding-y;
	border: rem-calc(1px) solid $bg-color;
	@include media-breakpoint-up(md) {
		padding-top: $input-padding-y-lg;
		padding-bottom: $input-padding-y-lg;
	}
}

@mixin btn-reset {
	background: transparent;
	color: $link-color;
	display: inline-block;
	padding: 0;
	border: 0;
	margin: 0;
	cursor: pointer;
}

@mixin btn-fill-primary {
	position: relative;
	display: inline-block;
	border: none;
	cursor: pointer;
	background: $stone-wall;
	color: $darkest !important;
	&:hover {
		background-color: $stone-wall;
	}
}

@mixin btn-corner-radius {
	border-top-right-radius: rem-calc(8px);
}
@mixin btn-corner-top-right-radius {
	border-top-right-radius: rem-calc(8px);
}
@mixin btn-rarr {
	position: relative;
	display: inline-flex;
	align-items: center;
	color: $stone-wall;
	margin-right: rem-calc(34px);
	&::after {
		@include icon-font-properties;
		content: $i-chevron-right;
		font-size: rem-calc(24px);
		font-weight: bold;
		margin-left: rem-calc(10px);
		transition: 0.2s ease;
		position: absolute;
		right: rem-calc(-34px);
	}
	&:hover,
	&:focus {
		&::after {
			transform: translateX(rem-calc(5px));
		}
	}
	&::before {
		content: "";
		position: absolute;
		bottom: rem-calc(-4px);
		left: 0;
		display: block;
		width: 100%;
		height: rem-calc(2px);
		border-radius: 10px;
		background-color: $stone-wall;
		transition: transform .5s cubic-bezier(.19,1,.22,1);
		transform: scaleX(0);
		transform-origin: right;
	}
	&:hover {
		color: $stone-wall;
		&::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
@mixin ic-before {
	margin-left: rem-calc(34px);
	margin-right: 0;
  &::after {
		@include icon-font-properties;
		content: $i-chevron-right;
		font-size: rem-calc(24px);
		font-weight: bold;
		margin: 0;
		transition: 0.2s ease;
		transform: rotate(180deg);
		left: rem-calc(-34px);
		right: auto;
	}
	&:hover,
	&:focus {
		&::after {
			transform: rotate(180deg) translateX(rem-calc(5px));
		}
	}
}

@mixin btn-inline {
	text-decoration: none;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: rem-calc(-4px);
		left: 0;
		display: block;
		width: 100%;
		height: rem-calc(2px);
		border-radius: rem-calc(10px);
		background-color: $stone-wall;
		transition: transform .5s cubic-bezier(.19,1,.22,1);
		transform: scaleX(0);
		transform-origin: right;
	}
	&:hover {
		color: $stone-wall;
		&::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}