@mixin btn {
  background: transparent;
  font-weight: 400;
  line-height: $input-line-height;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: padding-box;
  transition-property: background, color, border-color;
  transition-duration: .2s;
  &:hover {
    transition-duration: .1s;
    text-decoration: none;
  }
}

@mixin btn-red {
  background: $primary;
  color: #fff;
  &:hover,
  &:focus {
    background: darken($primary,7%);
    color: #fff;
  }
}

@mixin btn-black {
  background: $black;
  color: #fff;
  &:hover,
  &:focus {
    background: darken($black,7%);
    color: #fff;
  }
}

@mixin btn-xs {
  padding: rem-calc( 5px ) rem-calc( 10px );
}

@mixin btn-sm {
  padding: rem-calc( 10px ) rem-calc( 20px );
}

@mixin btn-md {
  padding: rem-calc( 15px ) rem-calc( 20px );
}

@mixin btn-input-clone( $bg-color ) {
  background-color: $bg-color;
  font-size: 1rem;
  line-height: $input-line-height;
  text-transform: uppercase;
  padding-top: $input-px;
  padding-bottom: $input-px;
  border: rem-calc( 1px ) solid $bg-color;
  @include media-breakpoint-up( md ) {
    padding-top: $input-px-md;
    padding-bottom: $input-px-md;
  }
}

@mixin btn-disabled {
  cursor: default;
  pointer-events: none;
  opacity: .3;
}