// @mixin sprite-data( $img ) {
//   @include spr-sprite( $img );
//   display: block;
//   width: spr-sprite-width( $img );
//   height: spr-sprite-height( $img );
// }

// @mixin icon-data( $img ) {
//   @include icons-sprite( $img );
//   display: block;
//   width: icons-sprite-width( $img );
//   height: icons-sprite-height( $img );
// }

@mixin image-data( $img ) {
  @include background( image-url( $img ) );
  background-repeat: no-repeat;
  display: block;
  width: image-width( $img );
  height: image-height( $img );
}

// Frames
@mixin frame-bootstrap {
  background-color: #fff;
  display: block;
  padding: rem-calc(4px);
  border: rem-calc(1px) solid #ddd;
  box-shadow: 0 rem-calc(1px) rem-calc(3px) rgba( 0, 0, 0, .055 );
  transition: all .2s ease-in-out;
}

@mixin frame-bootstrap-hover {
  border-color: $base-link-color;
  box-shadow: 0 rem-calc(1px) rem-calc(4px) rgba( 0, 102, 214, .25 );
}

@mixin frame-transparent {
  box-shadow: 0 rem-calc(1px) rem-calc(4px) rgba( 0, 0, 0, 0.2 );
}

@mixin frame-transparent-hover {
  box-shadow: 0 rem-calc(1px) rem-calc(4px) rgba( 0, 0, 0, 0.4 );
}