@mixin input-placeholder( $color ) {
  &:-moz-placeholder { color: $color;
  } // Firefox 4-18
  &::-moz-placeholder { color: $color;
  } // Firefox 19+
  &:-ms-input-placeholder { color: $color;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder { color: $color;
  } // Safari and Chrome
  &::placeholder { color: $color;
  } // Safari and Chrome
}


@mixin input-text {
  background: $input-bg;
  color: $input-color;
  line-height: $input-line-height; //same as button
  padding: $input-padding-y-sm $input-padding-x-sm;
  border: $input-btn-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  transition: $input-transition ;
  appearance: none;
  @include input-placeholder( $input-placeholder-color );
  overflow: hidden;
  &:focus {
    border-color: $input-focus-border-color;
    @if ( $input-focus-width == 0 ) {
      outline: none;
    }
  }
  @include media-breakpoint-up( md ) {
    padding: $input-padding-y $input-padding-x;
  }
  //required to disable auto zoom in iOS when font is less than 16px
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 767px) {
    font-size: 16px !important;
  }
}

@mixin custom-select-block($color: #666) { //add to select wrapper
  background: #fff;
  background-image: linear-gradient(45deg, transparent 50%, $color 50%), linear-gradient(135deg, $color 50%, transparent 50%);
  background-position: calc(100% - 2rem) 50%, calc(100% - 1.3rem) 50%;
  background-size: rem-calc( 7px ) rem-calc( 7px ), rem-calc( 7px ) rem-calc( 7px );
  background-repeat: no-repeat;
  // background: none; // make dropdown icon visible, if after is enabled, disable all the above bg rules
  position: relative;
  select {
    background: transparent;
    width: 100%; //make dropdown sit on top of select
    padding-right: rem-calc(40px);
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  // &:after { // chevron icon
  // 	@include icon-font-properties;
  // 	content: $i-dropdown;
  // 	font-size: rem-calc(18px);
  // 	display: block;
  // 	position: absolute;
  // 	right: rem-calc(15px);
  // 	top: 50%;
  // 	z-index: -1;
  // 	transform: translateY(-50%);
  // }
}