// Inputs - used on multiple files
$input-bg-color: #fff;
$input-color: #444;
$input-line-height: 1.2; // used for btn mixin, so when input is next to btn they have same height
$input-min-width: auto;
$input-px: rem-calc(15px); // left and right
$input-px-md: rem-calc(15px); // left and right for md breakpoint
$input-py: rem-calc(20px); // top and bottom
$input-py-md: rem-calc(20px); // top and bottom for md breakpoint
$input-border-width: rem-calc(1px);
$input-border-color: #666;
$input-focus-border: #000;
$input-focus-outline: false;
$input-placeholder-color: #b0b0b0;
$input-border-radius: 0;
$input-transition: none;


@mixin input-placeholder( $color ) {
  &:-moz-placeholder { color: $color;
  } // Firefox 4-18
  &::-moz-placeholder { color: $color;
  } // Firefox 19+
  &:-ms-input-placeholder { color: $color;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder { color: $color;
  } // Safari and Chrome
  &::placeholder { color: $color;
  } // Safari and Chrome
}


@mixin input-text {
  background: $input-bg-color;
  color: $input-color;
  line-height: $input-line-height; //same as button
  min-width: $input-min-width;
  padding: $input-px $input-py;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  transition: $input-transition ;
  @include experimental(appearance, none); //remove browser styling
  @include input-placeholder( $input-placeholder-color );
  &:focus {
    border-color: $input-focus-border;
    @if ( $input-focus-outline == false ) {
      outline: none;
    }
  }
  @include media-breakpoint-up( md ) {
    padding: $input-px-md $input-py-md;
  }
  //required to disable auto zoom in iOS when font is less than 16px
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 767px) {
    font-size: 16px !important;
  }
}

@mixin custom-select-block { //add to select wrapper
  background: #fff;
  background-image: linear-gradient(45deg, transparent 50%, $secondary 50%), linear-gradient(135deg, $secondary 50%, transparent 50%);
  background-position: calc(100% - 20px) 50%, calc(100% - 13px) 50%;
  background-size: 7px 7px, 7px 7px;
  background-repeat: no-repeat;
  position: relative;
  select {
    background: transparent;
    width: 100%; //make dropdown sit on top of select
    padding-right: rem-calc(40px);
    @include experimental(appearance, none); //remove browser styling
  }
  select::-ms-expand {
    display: none;
  }
  // &:after { // chevron icon
  // 	@include icon-font-properties;
  // 	content: $i-dropdown;
  // 	font-size: rem-calc(18px);
  // 	display: block;
  // 	position: absolute;
  // 	right: rem-calc(15px);
  // 	top: 50%;
  // 	z-index: -1;
  // 	@include translateY(-50%);
  // }
}