.clearfix { @include clearfix; }

// Custom
////////////////////////////////////////////////
.clear { clear: both !important; }
.clear-left { clear: left !important; }
.clear-right { clear: right !important; }