@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icons/icomoon.eot?pabfec');
  src:  url('fonts/icons/icomoon.eot?pabfec#iefix') format('embedded-opentype'),
    url('fonts/icons/icomoon.ttf?pabfec') format('truetype'),
    url('fonts/icons/icomoon.woff?pabfec') format('woff'),
    url('fonts/icons/icomoon.svg?pabfec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.i-font-before {
	&:before {
		@include icon-font-properties;
	}
  &:after {
    display: none;
  }
}

.i-font-after {
	&:after {
		@include icon-font-properties;
	}
  &:before {
    display: none;
  }
}

.i-arrow-down:before, .i-arrow-down:after {
  content: "\e900";
}
.i-arrow-left:before, .i-arrow-left:after {
  content: "\e901";
}
.i-arrow-right:before, .i-arrow-right:after {
  content: "\e902";
}
.i-arrow-up:before, .i-arrow-up:after {
  content: "\e903";
}
.i-check:before, .i-check:after {
  content: "\e904";
}
.i-check-square:before, .i-check-square:after {
  content: "\e905";
}
.i-chevron-down:before, .i-chevron-down:after {
  content: "\e906";
}
.i-chevron-left:before, .i-chevron-left:after {
  content: "\e907";
}
.i-chevron-right:before, .i-chevron-right:after {
  content: "\e908";
}
.i-chevron-up:before, .i-chevron-up:after {
  content: "\e909";
}
.i-download:before, .i-download:after {
  content: "\e90a";
}
.i-external-link:before, .i-external-link:after {
  content: "\e90b";
}
.i-facebook:before, .i-facebook:after {
  content: "\e91a";
}
.i-instagram:before, .i-instagram:after {
  content: "\e90c";
}
.i-linkedin:before, .i-linkedin:after {
  content: "\e90d";
}
.i-mail:before, .i-mail:after {
  content: "\e90e";
}
.i-map-pin:before, .i-map-pin:after {
  content: "\e90f";
}
.i-menu:before, .i-menu:after {
  content: "\e910";
}
.i-minus:before, .i-minus:after {
  content: "\e911";
}
.i-phone-call:before, .i-phone-call:after {
  content: "\e912";
}
.i-play:before, .i-play:after {
  content: "\e913";
}
.i-play-circle:before, .i-play-circle:after {
  content: "\e914";
}
.i-plus:before, .i-plus:after {
  content: "\e915";
}
.i-search:before, .i-search:after {
  content: "\e916";
}
.i-twitter:before, .i-twitter:after {
  content: "\e917";
}
.i-x:before, .i-x:after {
  content: "\e918";
}
.i-youtube:before, .i-youtube:after {
  content: "\e919";
}