@font-face {
  font-family: 'icomoon';
  src: url('fonts/icons/icomoon.eot?pabfec');
  src: url('fonts/icons/icomoon.eot?pabfec#iefix') format('embedded-opentype'),
    url('fonts/icons/icomoon.ttf?pabfec') format('truetype'),
    url('fonts/icons/icomoon.woff?pabfec') format('woff'),
    url('fonts/icons/icomoon.svg?pabfec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.i-font-before {
  &:before {
    @include icon-font-properties;
  }
  &:after {
    display: none;
  }
}

.i-font-after {
  &:after {
    @include icon-font-properties;
  }
  &:before {
    display: none;
  }
}
.i-facebook:before,
.i-facebook:after {
  content: '\e91a';
}
.i-instagram:before,
.i-instagram:after {
  content: '\e91e';
}
.i-linkedin:before,
.i-linkedin:after {
  content: '\e91d';
}
