
// @each $color, $value in $colors {
//   .text-#{$color}, .color-#{$color} {
//     color: $value !important;
//   }
// };


// .lead, .text-big {
//   font-size: rem-calc(20px) !important;
// }
// .text-small { @extend small; }

// .text-black { color: black !important; }

// .ff-body { font-family: $body-font-family !important; }
// .ff-heading { font-family: $headings-font-family !important; }

// .underline { text-decoration: underline !important; }

// .lh-1 { line-height: 1 !important; }
// .lh-1-1 { line-height: 1.1 !important; }
// .lh-1-2 { line-height: 1.2 !important; }
// .lh-1-3 { line-height: 1.3 !important; }
// .lh-1-4 { line-height: 1.4 !important; }
// .lh-1-5 { line-height: 1.5 !important; }
// @include media-breakpoint-up( md ) {
//   .lh-md-1 { line-height: 1 !important; }
//   .lh-md-1-1 { line-height: 1.1 !important; }
//   .lh-md-1-2 { line-height: 1.2 !important; }
//   .lh-md-1-3 { line-height: 1.3 !important; }
//   .lh-md-1-4 { line-height: 1.4 !important; }
//   .lh-md-1-5 { line-height: 1.5 !important; }
// }

// .ls-0-5 {	letter-spacing: rem-calc(.5px) !important; }
// .ls-1 {	letter-spacing: rem-calc(1px) !important; }
// .ls-1-5 {	letter-spacing: rem-calc(1.5px) !important; }
// .ls-2 {	letter-spacing: rem-calc(2px) !important; }
// .ls-2-5 {	letter-spacing: rem-calc(2.5px) !important; }
// .ls-3 {	letter-spacing: rem-calc(3px) !important; }
// @include media-breakpoint-up( md ) {
//   .ls-md-0-5 {	letter-spacing: rem-calc(.5px) !important; }
//   .ls-md-1 {	letter-spacing: rem-calc(1px) !important; }
//   .ls-md-1-5 {	letter-spacing: rem-calc(1.5px) !important; }
//   .ls-md-2 {	letter-spacing: rem-calc(2px) !important; }
//   .ls-md-2-5 {	letter-spacing: rem-calc(2.5px) !important; }
//   .ls-md-3 {	letter-spacing: rem-calc(3px) !important; }
// }
