.site-footer {
  .footer-logo {
    width: rem-calc(100px);
    margin-bottom: rem-calc(30px);
  }
  a {
    color: #bfc2c5 !important;
    text-decoration: none;
    &:hover {
      color: $white !important;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  i {
    color: $white;
  }
  .text {
    color: #bfc2c5 !important;
  }
  .icon-with-text {
    li {
      img {
        width: rem-calc(24px);
      }
      font-weight: 300;
    }
  }
  .copyrights {
    padding: rem-calc(16px) 0;
    border-top: rem-calc(1px) solid rgba(255, 255, 255, 0.2);
    color: #bfc2c5 !important;

    p {
      font-size: rem-calc(14px);
    }
  }
}
