.header-nav {
  ul {
    @include list-unstyled;
  }
  li {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    display: block;
    height: 100%;
  }
}

/*==============================
=            Mobile            =
==============================*/
$mobile-sidebar-bg-color: $teal;
/*----------  Parent Menu  ----------*/
$mobile-parent-menu-item-border-bottom: rem-calc(1px) solid rgba(0,0,0,.1);
$mobile-parent-menu-link-bg-color: transparent;
$mobile-parent-menu-link-color: $green;
$mobile-parent-menu-link-hover-bg-color: rgba(0,0,0,.1);
$mobile-parent-menu-link-hover-color: $green;
$mobile-parent-menu-item-font-size: rem-calc( 24px );
$mobile-parent-menu-item-padding-y: rem-calc( 13px );
$mobile-parent-menu-item-padding-x: rem-calc( 20px );
$mobile-parent-menu-current-item-link-bg-color: $green;
$mobile-parent-menu-current-item-link-color: #fff;
$mobile-parent-menu-dropdown-bg-color: darken($teal,5%);
$mobile-parent-menu-dropdown-icon-color: $green;
$mobile-parent-menu-dropdown-hover-bg-color: #fff;
$mobile-parent-menu-dropdown-hover-icon-color: $green;
/* Sub Menu */
$mobile-sub-menu-font-size: rem-calc( 18px );
$mobile-sub-menu-bg-color: darken($teal,5%);
$mobile-sub-menu-link-bg-color: transparent;
$mobile-sub-menu-link-hover-bg-color: rgba(0,0,0,.05);
$mobile-sub-menu-link-color: $green;
$mobile-sub-menu-link-hover-color: #000;
$mobile-sub-menu-link-padding-y: rem-calc(13px);
$mobile-sub-menu-link-padding-x: rem-calc( 20px ); //usually this is same as parent menu


.nav-wrapper {
  @include media-breakpoint-down( xl ) {
    background-color: $white;
    width: 100%;
    padding: rem-calc(90px) 0 rem-calc(40px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: auto;
    overscroll-behavior: contain; // avoid scroll chaining
    transform: translateX(-100%);
    transition: 350ms transform cubic-bezier(0.465, 0.183, 0.153, 0.946);
    &.js-active {
      transform: translateX(0);
      box-shadow: 0 0 rem-calc(10px) rgba(120,120,120,.3);
    }
  }
}

.header-nav-parent-menu {
  @include media-breakpoint-down( lg ) {
    > li {
      > a {
        background-color: $white;
        color: $mobile-parent-menu-link-color;
        text-align: center;
        font-size: $mobile-parent-menu-item-font-size;
        display: block;
        padding: $mobile-parent-menu-item-padding-y $mobile-parent-menu-item-padding-x;
        text-decoration: none;
        position: relative;
        &:hover, &:focus {
          background: $mobile-parent-menu-link-hover-bg-color;
          color: $mobile-parent-menu-link-hover-color;
        }
      }
    }
    > li.current-page-ancestor > a,
    > li.current-menu-parent > a,
    > li.current-menu-item > a {
      background: $mobile-parent-menu-current-item-link-bg-color;
      color: $mobile-parent-menu-current-item-link-color;
    }
    // Submenu
    > li.menu-item-has-children {
      position: relative;
      &:hover, &:focus {
        > a {

        }
      }
    }
    .menu-item-has-children {
      > a {
        position: relative;
        span {
          background: $mobile-parent-menu-dropdown-bg-color;
          width: rem-calc(45px);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          &.js-active {
            &::after {
              border-top-width: 0;
              border-bottom-color: $mobile-parent-menu-dropdown-icon-color;
            }
          }
          &::after {
            content: '';
            border: rem-calc(8px) solid transparent;
            border-left-width: rem-calc(6px);
            border-right-width: rem-calc(6px);
            border-top-color: $mobile-parent-menu-dropdown-icon-color;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: rem-calc(-4px);
            margin-left: rem-calc(-6px);
          }
          &:hover, &:focus {
            // background: $mobile-parent-menu-dropdown-hover-bg-color;
            &:after {
              border-top-color: $mobile-parent-menu-dropdown-hover-icon-color;
            }
          }
        }
      }
    }
  }
}


.header-nav .sub-menu {
  width: 100%;
  padding: rem-calc(6px) 0  rem-calc(2px) 0;
  @include media-breakpoint-up(xl) {
    z-index: -1;
    transform-origin: center center;
    display: none;
    animation: downOut 300ms ease-in-out forwards;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: rem-calc(295px);
    background: #F4F4F4;
    border-radius: 0px 0px rem-calc(16px) rem-calc(16px);
    perspective: 1000px;
    padding: rem-calc(10px) rem-calc(20px);
  }
  @include media-breakpoint-down(xl) {
    height: 0;
    visibility: hidden;
  }
  @include media-breakpoint-up(xl) {
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-bottom: rem-calc(16px) solid #F4F4F4;
      border-right: rem-calc(23px) solid transparent;
      position: absolute;
      top: rem-calc(-16px);
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      height: 20px;
      position: absolute;
      top: -20px;
      left: 0;
      background: #fff;
      width: 100%;
    }
  }
  li {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    font-size: rem-calc(16px) !important;
    @include media-breakpoint-up(xl) {
      border-bottom: rem-calc(1px) solid $darkest !important;
    }
    &:last-of-type {
      border-bottom: none !important;
    }
    a {
      padding: rem-calc(6px) 0;
      color: $darkest !important;
      @include media-breakpoint-up(xl) {
        padding: rem-calc(10px) 0;
      }
      &::before {
        content: none !important;
      }
      &:hover {
        color: $stone-wall !important;
      }

    }
    &.active {
       a {
        color: $stone-wall !important;
       }

    }
  }
  &.js-active {
     display: block;
     height: auto;
     visibility: visible;
  }

}


/*===============================
=            Desktop            =
===============================*/
/*----------  Parent Menu  ----------*/
$desktop-parent-menu-link-bg-color: #ccc;
$desktop-parent-menu-link-color: #000;
$desktop-parent-menu-link-hover-bg-color: green;
$desktop-parent-menu-link-hover-color: #fff;
$desktop-parent-menu-item-padding-y: rem-calc( 15px );
$desktop-parent-menu-item-padding-x: rem-calc( 20px );
$desktop-parent-menu-current-item-link-bg-color: red;
$desktop-parent-menu-current-item-link-color: #fff;
$desktop-parent-menu-dropdown-icon-color: #999;
$desktop-parent-menu-dropdown-icon-hover-color: #fff;
$desktop-parent-menu-dropdown-icon-border: rem-calc( 5px );
$desktop-parent-menu-space-between-text-and-arrow: rem-calc( 10px );
/*----------  Sub Menu  ----------*/
$desktop-sub-menu-width: rem-calc( 250px );
$desktop-sub-menu-link-bg-color: green;
$desktop-sub-menu-link-color: #fff;
$desktop-sub-menu-link-hover-bg-color: darken($desktop-sub-menu-link-bg-color,10%);
$desktop-sub-menu-link-hover-color: $desktop-sub-menu-link-color;
$desktop-sub-menu-current-item-link-bg-color: darken($desktop-sub-menu-link-bg-color,20%);
$desktop-sub-menu-current-item-link-color: transparent;
$desktop-sub-menu-font-size: rem-calc( 16px );
$desktop-sub-menu-link-padding-y: rem-calc( 12px );
$desktop-sub-menu-link-padding-x: $desktop-parent-menu-item-padding-x; // usually this is same as parent menu

// Desktop Parent Menu
////////////////////////////////////////////////
.header-nav-parent-menu {
  @include media-breakpoint-up( lg ) {
    > li {
      float: left;
      margin-right: rem-calc( 5px );
      &:hover, &:focus {
        > a {
          background-color: $desktop-parent-menu-link-hover-bg-color;
          color: $desktop-parent-menu-link-hover-color;
        }
      }
      > a {
        background-color: $desktop-parent-menu-link-bg-color;
        color: $desktop-parent-menu-link-color;
        display: block;
        padding: $desktop-parent-menu-item-padding-y $desktop-parent-menu-item-padding-x;
      }
    }
    > li.current-page-ancestor > a,
    > li.current-menu-parent > a,
    > li.current-menu-item > a {
      background-color: $desktop-parent-menu-current-item-link-bg-color;
      color: $desktop-parent-menu-current-item-link-color;
    }
    > li.menu-item-has-children {
      position: relative;
      > a {
        padding-right: $desktop-parent-menu-item-padding-y + $desktop-parent-menu-dropdown-icon-border + $desktop-parent-menu-dropdown-icon-border + $desktop-parent-menu-space-between-text-and-arrow; //dropdown icon
        &:after {
          content: '';
          border: $desktop-parent-menu-dropdown-icon-border solid transparent;
          border-top-color: $desktop-parent-menu-dropdown-icon-color;
          position: absolute;
          top: 50%;
          right: $desktop-parent-menu-item-padding-y;
          margin-top: rem-calc( -2px );
          transition: $btn-transition;
        }
      }
      &:hover, &:focus {
        > a {
          color: $desktop-parent-menu-link-hover-color;
          &:after {
            border-top-color: $desktop-parent-menu-dropdown-icon-hover-color;
          }
        }
      }
    }
    li.menu-item-has-children {
      &:hover, &focus {
        > .sub-menu {
          visibility: visible;
          opacity: 1;
          pointer-events: auto;
          z-index: 10;
        }
      }
    }
  } // breakpoint
}

// Desktop Sub Menu
////////////////////////////////////////////////
.header-nav-parent-menu  {
  @include media-breakpoint-up( lg ) {
    .sub-menu {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      width: $desktop-sub-menu-width;
      position: absolute;
      transition: $btn-transition, opacity .15s;
      > li {
        line-height: 1.3;
        &:hover, &:focus {
          > a {
            background-color: $desktop-sub-menu-link-hover-bg-color;
            color: $desktop-sub-menu-link-hover-color;
          }
        }
        > a {
          background-color: $desktop-sub-menu-link-bg-color;
          font-size: $desktop-sub-menu-font-size;
          color: $desktop-sub-menu-link-color;
          display: block;
          padding: $desktop-sub-menu-link-padding-y $desktop-sub-menu-link-padding-x;
          border-bottom: rem-calc( 1px ) solid desaturate(green,20%);
        }
      }
      > li.current-menu-item > a {
        background-color: $desktop-sub-menu-current-item-link-bg-color;
        color: $desktop-sub-menu-current-item-link-color;
      }
    }
    // first sub menu
    > li > .sub-menu {
      top: 100%;
      left: 0;
      > li.menu-item-has-children > a {
        padding-right: $desktop-parent-menu-item-padding-y + $desktop-parent-menu-dropdown-icon-border + $desktop-parent-menu-dropdown-icon-border + $desktop-parent-menu-space-between-text-and-arrow; //chevron icon
        position: relative;
        &:after {
          content: '';
          border: $desktop-parent-menu-dropdown-icon-border solid transparent;
          border-left-color: $desktop-parent-menu-dropdown-icon-hover-color;
          position: absolute;
          top: $desktop-parent-menu-item-padding-x;
          right: $desktop-parent-menu-item-padding-y;
          transition: $btn-transition;
          margin-top: rem-calc( -4px );
        }
      }
    }
    // second sub menu
    .sub-menu .sub-menu {
      min-width: $desktop-sub-menu-width;
      width: fit-content;
      max-width: 40vw;
      top: 0;
      left: $desktop-sub-menu-width;
    }
  }
}


@keyframes downOut {
  0% {
     transform: translateZ(200px) transLateY(40px)
 }
 80% {
     transform: translateZ(-10px) transLateY(0px)
 }
 100% {
     transform: translateZ(0px) transLateY(0px)
 }
}