.site-header {
  padding-top: rem-calc( 17px );
  padding-bottom: rem-calc( 17px );
  transition: top 0.6s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  @include media-breakpoint-up(xl) {
    padding-bottom: 0;
  }
  @include media-breakpoint-up(xxl) {
    padding: 0 4%;
  }
  &.js-fixed {
    padding-top: rem-calc( 12px );
  }
  @include media-breakpoint-up(xl) {
    padding-top: rem-calc(18px);
    padding-bottom: rem-calc( 18px );
  }
  .header-pattern {
    position: absolute;
    bottom: rem-calc(-15px);
    left: 0;
    width: 100%;
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    svg {
      width: 100%;
      height: rem-calc(30px) !important;
    }
  }
}


.header-logo {
  width: rem-calc(130px);
  position: relative;
  float: left;
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    width: rem-calc(180px);
  }
  @include media-breakpoint-up(xxl) {
    width: rem-calc(217px);
  }
  span {
    visibility: hidden;
    font-size: 0;
    color: transparent;
    pointer-events: none;
    height: 0;
    position: absolute;
  }
  a {
    display: block;
  }
}

.header-nav-toggle {
  text-decoration: none;
  float: right;
  display: block;
  position: relative;
  padding: 0 !important;
  opacity: 0;
  .i-menu {
    font-size: rem-calc(24px);
    line-height: rem-calc( 24px );
    position: absolute;
    left: rem-calc(15px); // same as padding right
    top: 50%;
    transform: translateY(-50%);
  }
  @include media-breakpoint-up( xl ) {
    display: none !important;
  }
}

.header-nav-close {
  background: none;
  text-decoration: none;
  border: 0;
  padding: rem-calc(10px);
  position: absolute;
  top: rem-calc(15px);
  right: rem-calc(24px);
  .i-x {
    font-size: rem-calc( 36px );
    line-height: rem-calc( 36px );
    color: $midnight-500 !important;
  }
  &:hover,
  &:focus {
    background-color: #fff;
  }
  @include media-breakpoint-up( xl ) {
    display: none;
  }
}

.nav-wrapper {
  position: relative;
  z-index: 99;
  @include media-breakpoint-down( xl ) {
    display: flex;
    flex-direction: column;
  }
  .header-nav {
    @include media-breakpoint-down( xl ) {
      order: 1;
    }
  }
  .header-secondary {
    @include media-breakpoint-down( xl ) {
      order: 2;
    }
  }
  .header-secondary,
  .header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-up( xl ) {
      flex-direction: row;
    }
    .header-primary-parent-menu,
    .header-secondary-parent-menu {
      list-style: none;
      padding: 0;
      width: 100%;
      flex-direction: column;
      padding: 0 calc(32px);
      @include media-breakpoint-up( xl ) {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
      }
      li {
        margin-left: rem-calc(45px);
        font-weight: 600;
        margin-bottom: 0;
        position: relative;
        @include custom-width(0, 1266px) {
          margin-left: rem-calc(24px);
        }
        @include media-breakpoint-down( xl ) {
          margin-left: 0;
          font-size: rem-calc(22px);
          line-height: rem-calc(28px);
          margin-bottom: rem-calc(16px);
          padding-bottom:  rem-calc(16px);
          text-align: left;
        }
        a {
          text-decoration: none;
          position: relative;
          @include media-breakpoint-up( xl ) {
          &::before {
            content: "";
            position: absolute;
            bottom: rem-calc(-4px);
            left: 0;
            display: block;
            width: 100%;
            height: rem-calc(2px);
            border-radius: 10px;
            background-color: $milano-red;
            transition: transform .5s cubic-bezier(.19,1,.22,1);
            transform: scaleX(0);
            transform-origin: right;
          }
          &:hover {
            color: $milano-red;
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }

        }
        &.current-menu-item {
          > a {
            color: $milano-red;
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
        &.menu-item-has-children {
          a {
            display: flex !important;
            @include media-breakpoint-down(xl) {
              padding-right: 30px;
            }
            .has-icon {
              display: none;
              @include media-breakpoint-down(xl) {
                position: absolute;
                top: 0;
                right: 0;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: rem-calc(8px);
                display: flex;
                height: rem-calc(34px);
                width: rem-calc(34px);
              }
            }
          }
          @include media-breakpoint-up(xl) {
            &:hover {
              .sub-menu {
                display: block;
                visibility: visible;
              }
            }
          }
          &:last-of-type {
            .sub-menu {
              @include media-breakpoint-up(xl) {
                left: auto;
                right: 0;
              }
              @include media-breakpoint-up(xl) {
                &::before {
                  border-left: rem-calc(23px) solid transparent;
                  border-right: none;
                  left: auto;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-secondary {
    .header-secondary-parent-menu {
      list-style: none;
      @include media-breakpoint-up( xl ) {
        margin-bottom: rem-calc(16px);
      }
      li {
        font-weight: 400;
        @include media-breakpoint-up( xl ) {
          font-size: rem-calc(14px);
        }
      }
    }
  }
  .header-primary-parent-menu {
    li {
      padding-bottom: rem-calc(22px);
    }
  }
}
