.site-wrapper { // body
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Overlay - remove if not required
  // &:before {
  //   opacity: 0;
  //   content: '';
  //   background-color: rgba(0,0,0,.7);
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  //   z-index: -1;
  // }
  // &.js-overlay {
  //   &:before {
  //     opacity: 1;
  //     z-index: 90;
  //     @include transition(opacity .25s ease);
  //   }
  // }
}

.site-content {
  flex: 1 0 auto;
}